/* -------Cart--------- */
.doller h2{
  color: black;
}
.doller p{
  color: black;
}
.doller img{
  width: 104px;
  height: 104px;
}
.cart {
  padding: 0px;
}

.cart label {
  word-wrap: break-word;
  word-spacing: 12px;
}

.cart label span {
  color: rgba(0, 0, 0, 0.5);
}

.product-details {
  padding: 0px 135px 140px 135px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400px;
  line-height: 24px;
}

.product-list {
  margin-top: 80px;
}

.cancel {
  position: absolute;
  top: -6px;
  left: -9px;
}

.product_1,
.product_2,
.product_3 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

.product_1 {
  padding: 24px 39px 24px 40px;
}

.product_2,
.product_3 {
  padding: 40px 34px;
  margin-top: 40px;
}

.quantity_btn {
  position: relative;
  width: 72px;
  height: 44px;
  padding: 3px;
  border: 1.50px solid rgba(0, 0, 0, 0.40);
  border-radius: 4px;
}

.quantity_btn button {
  border: none;
  padding: 6px 12px;
}

.arrow_up {
  position: absolute;
  top: 5px;
  left: 39px;
}

.arrow_down {
  position: absolute;
  top: 20px;
  left: 39px;
}

.quantity_btn button label {
  padding-left: 0px;
}

.product-btn {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.product-btn button {
  height: 56px;
  width: 218px;
  padding: 16px 48px;
  word-wrap: 'break-word';
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
}

.product-btn button:nth-child(2) {
  width: 195px;
}

.cart_total {
  display: flex;
  margin-top: 80px;
  width: auto;
  height: 324px;
  justify-content: space-between;
}

.coupon input {
  height: auto;
  width: 279px;
  padding: 16px 164px 16px 24px;
  word-wrap: 'break-word';
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
}

.coupon button {
  width: 211px;
  height: 56px;
  padding: 16px 48px;
  border: none;
  gap: 10px;
  color: white;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 5px;
  margin-left: 16px;
}

.price {
  width: 470px;
  height: 324px;
  border: 1.5px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 32px 0px 24px 24px;
  line-height: 24px;
  padding-right: 0px;
}

.price hr {
  width: 90%;
}

.price_btn {
  padding: 24px 121px 32px 89px;
}

.price button {
  padding: 16px 48px;
  background-color: rgba(219, 68, 68, 1);
  color: white;
  border-radius: 4px;
  border: none;
  word-wrap: 'break-word';
}

.price_span {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}



@media screen and (max-width: 1280px) {
  .product-details {
    padding: 5%
  }

  .product-list {
    margin-top: 10%;
  }

  .product-btn button {
    width: 212px;
  }

  .cart_total {
    display: block;
  }

  .coupon input {
    width: 283px;
  }

  .coupon button {
    margin-left: 4%;
    width: auto;
    height: 56px;
    padding: 16px 40px;
  }

  .coupon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .price_btn {
    width: 408px;
    padding: 33px 84px;
  }
}

@media screen and (max-width: 820px) {

  .product-btn button {
    width: 150px;
    padding: 3%;
  }

  .product-btn button:nth-child(2) {
    width: 150px;
  }

  .coupon input {
    width: 40%;
  }

}

@media screen and (max-width: 530px) {
  .product_2, .product_3{
    padding: 15px 10px;
  }

  .cart_total {
    display: block;
  }

  .price {
    margin-top: 45px;
    width: auto;
  }

  .price_btn {
    padding: 35px 62px;
  }

}

@media screen and (max-width: 430px) {
  .coupon{
    flex-direction: column;
    gap: 20px;
  }
  .coupon button{
    width: 220px;
    padding: 10px 35px;
    margin-left: 10%;
  }
  .coupon input{
    width: 280px;
    margin-left: auto;
  }
  .price{
    width: auto;
  }
  .price_btn{
    display: flex;
    padding: inherit;
  }
 

}

/* ............About............. */

.text {
  padding: 0px auto;
}

.text label {
  word-wrap: break-word;
  word-spacing: 12px;
}

.text label span {
  color: rgba(0, 0, 0, 0.5);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .about {
    display: block;
  }
}

.about h2 {
  font-size: 42px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 3.24px;
  word-wrap: 'break-word';
}

.about p {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 26px;
  word-wrap: 'break-word';
}

.sale_detail {
  padding-top: 100px;
  text-align: center;
}

.sale_col_1 {
  width: 270px;
  height: 230px;
}

.boxes,
.service_detail {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.box_1 {
  padding: 30px 51px 30px 50px;
}

.box_2 {
  padding: 2px 35px;
}

.box_3 {
  padding: 30px 0px;
}

.box_4 {
  padding: 30px 29px 30px 28px;
}

.members {
  padding-top: 140px;
}

.member_1 {
  width: 370px;
  height: 564px;
}

.member_img {
  background-color: whitesmoke;
}

.member_img .tom {
  width: 100%;
  height: 100%;
  padding: 39px 67px 0px 67px;
}

.member_img .emma {
  width: 100%;
  height: 100%;
  padding: 33px 38px 0px 38px;
}

.member_img .smith {
  width: 100%;
  height: 100%;
  padding: 38px 22px 0px 22px;
}

/* --------Dots-------- */

.dots {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: 'center';
  gap: 12px;
}

.black_dot {
  width: 12px;
  height: 12px;
  background: rgb(0, 0, 0, 0.30);
  border-radius: 100%;
}

.red {
  width: 16px;
  height: 16px;
  position: relative;
}

.red_dot {
  width: 10px;
  height: 10px;
  left: 3px;
  top: 3px;
  position: absolute;
  background: rgb(219, 68, 68);
  border-radius: 100%;
}

.bg {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  position: 'absolute';
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0, 0.30);
}

/* ---------Services----------- */

.services {
  padding-top: 100px;
  padding-bottom: auto;
}

.services h3 {
  color: 'black';
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: '900';
  line-height: 28px;
  word-wrap: 'break-word'
}

.services p {
  color: 'black';
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: '400';
  line-height: 21px;
  word-wrap: 'break-word'
}

.delivery {
  width: 294px;
  height: 161px;
}

.customer_service {
  width: 270px;
  height: 161px;
}

.guarantee {
  width: 288px;
  height: 161px;
}

.services_bg_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------Account------------- */

.account {
  padding: 0px 10%;
}

.account_heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.account_heading label span {
  color: rgba(0, 0, 0, 0.5);
}

.account_heading .wlcm {
  color: rgba(219, 68, 68, 1);
}

.account_info {
  margin-top: 80px;
  display: flex;
  margin-bottom: 20px;
}

.account_menu h4 {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 24px;
}

.account_menu {
  padding-right: 30px;
}

.profile_edit {
  width: auto;
  height: auto;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

.profile,
.orders {
  padding-left: 25px;
}

.profile span {
  color: rgba(219, 68, 68, 1);
}

.profile p,
.orders p {
  color: rgba(0, 0, 0, 0.5);
}

.my_profile {
  padding: 40px 80px;
  width: 870px;
  height: 630px;
}

.my_profile span {
  color: rgba(219, 68, 68, 1);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.name_section,
.email_section {
  display: flex;
  gap: 50px;
}

.my_profile input {
  background-color: whitesmoke;
  width: 330px;
  height: 50px;
  border: none;
}

.password_section input {
  display: block;
  margin: 16px;
  width: 710px;
}

.profile_btn {
  display: flex;
  justify-content: end;
  margin-right: 60px;
}

/* Responsive */

@media screen and (max-width: 820px) {
  .account {
    padding: auto;
  }

  .account_info {
    display: block;
    gap: 30px;
    margin-top: 35px;
  }

  .account_menu {
    display: block;
  }

  .my_profile {
    width: fit-content;
    height: auto;
  }

  .name_section,
  .email_section {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .profile_edit {
    margin-top: inherit;
    width: fit-content;
  }

  .profile_btn {
    justify-content: start;
    align-items: center;
    padding-top: inherit;
  }

  .password_section input {
    width: 320px;
  }
}

@media screen and (max-width: 430px) {

  .account {
    padding: 0px;
  }

  .account_menu {
    padding-left: 10px;
  }

  .my_profile {
    padding: 20px 30px;
  }

  .profile_btn {
    padding-left: 30px;
  }

  .profile_btn button {
    width: 196px;
    height: 40px;
    align-items: center;
  }

}