@media screen and (min-width:970px){
  .Navmenu_mobile{
    display: block;
}
.Navmenu ul{
  /* display: block; */
  /* display: flex; */
}
}

@media screen and (max-width:970px){

.Navbar{
    margin: 20px 40px;
    /* display: flex; */
}

    .Mobile_icon img{
        display: block;
        position: absolute;
    }
    .Navmenu_mobile{
        display: block;
    }
 
.Navmenu ul{
display: none;




}
.Navmenu li {
  margin: 0px 14px;
  list-style: none;
  gap: 55px;
  padding: 6px 0px;
}

.Navmenu {
  overflow: hidden;
  display: block;
  /* top: 84px; */
  top: 83px;
  /* padding: 5px; */
  padding: 25px 285px;
  position: absolute;
  z-index: 1;
  right: 40px;
  background: black;
  color: white;
  width: 50vw;
    height: 50vh;
    opacity: 0;
    cursor: pointer;
}
/* .Navmenu{
overflow: hidden;

display: block;
    top: 84px;
    /* top: -9px; */
    /* padding: 5px;
    position: absolute;
    z-index: 1;
    right: 41px;
    background: black;
    color: white;
    width: 39%;
    height: 28vh; */
/* } */
.Navmenu ul{
display: block;
justify-content: space-around;
/* margin-top: 40px; */
/* margin: 5px 0px; */
/* top: 20px; */

}


.Navmenu ul li a{
color: white;
}
}





@media screen and (max-width:830px){
/*  
  .Navmenu {
    overflow: hidden;
    display: block;
    top: 84px;
    top: -9px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 41px;
    background: black;
    color: white;
    width: 39%;
    height: 20vh;
  } */
  .Navmenu {
    overflow: hidden;
    display: block;
    top: 84px;
    top: 82px;
    /* padding: 5px; */
    padding: 25px 285px;
    position: absolute;
    z-index: 1;
    right: 10px;
    background: black;
    color: white;
    width: 50vw;
    height: 50vh;
    opacity: 0;
    transition: 0.9;
    /* cursor: pointer; */
  }
  .Mobile_icon img{

  }
    .First_page{
        margin: 10px 0px;
        

    }
    .First_page_left{
        display: none;
    }
    .First_page_Right{
      margin: 40px 10px;
    }
    
    .First_page_Right img{
     
        width: 100%;
    height: 100%;
    }





    .Third_page{
        margin: 20px 10px;

    }
.Third_page_2{
    display: flex;
    gap: 27px;
    align-items: center;
}

 .Third_page_row{
    margin: 40px 10px;

 }

 .Third_page_row4{
    text-align: center;
 }






 .Fourth_page{
    margin: 40px 10px;

 }

            /* fourth end----------------- */


            .Fifth_page{
                margin: 40px 10px; 
            }



/* -------------sixth start--------------- */
 .Sixth_page{
    margin: 0 10px; 
    /* display: flex; */
    justify-content: start;
    gap: 50px;
 }

 .Sixth_page_1{
    margin-left: 10px;
    }
    .Speaker{
        margin-left:auto;
        margin-right: auto;
    
    }
    .Speaker img{
        /* width:568px;
        height: 330px; */
        width: 100%;
        height: 100%;
     
    }



    /* ---------------sixthpage end------------- */
     .Sevnth_page{
        margin: 50px 10px;
     }



/* -------------eight-page--------- */

.Eight_page_2{
    margin: 0 10px;
}

.Eight_page_left img {
    width: 570px;
    height: 600px;
    width: 100%;
    height: 100%;
  }
  



 /* --------------fother------------------------ */
 .Fother{
    margin: 0px 10px;
    display: flex;
    justify-content: flex-start;
 }


}


@media screen and (max-width:430px){
     .Third_page{
        margin: 0px 10px ;
     }

     .Third_page_2 {
        display: flex;
        gap: 0px;
        align-items: center;
      }

      .Third_page_h1 h1 {
        font-size: 26px;
      }

      .time h4 {
        font-size: 13px;
        font-weight: 600;
        color: #000;
      }

      .time h1 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
      }

      .Third_page_row4 button {
        padding: 15px 40px;
        background-color: #e04242;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        border: none;
        outline: none;
      }


      .fourth_page_2 h1 {
        font-size: 26px;
    }


    .Fourth_pagee_2_img{
        display: flex;
        gap: 7px;
        justify-content: center;
      flex-wrap: wrap;
      align-content: center;
    
    }
    .Fourth_pagee_2_img button {
      padding: 10px 36px;  
        }

       
       


    .Sevnth_page_2 h1 {
        font-size: 26px;
        font-weight: 600;
      }
     
    .fifth_page_button button {
      padding: 10px 36px;
    }


    .Sevnth_page_2_imgs button {
        padding: 10px 36px;}
    .Eight_page_left img {
    
        width: 100%;
        height: 100%;
      }
      .Eight_page_right_top img {
        width: 570px;
        height: 284px;
        width: 70%;
        height: 100%;
        margin-left: 86px;
      }





      .Eight_page_right_top img {
        width: 570px;
        height: 284px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
      }



      /* .Eight_page_right_bottom{

      } */
      .Eight_page_right_bottom img{
        width: 100%;
  height: 100%;
      }
}


@media screen and (max-width:320px){
  .time h4 {
    font-size: 11px;
    font-weight: 600;
    color: #000;
  }
  .Sixth_page_2 img {
  margin-right: 6px;
  width: 62px;
  height: 62px;
}
}

@media screen and (max-width:310px){
  .Times {
    display: flex;
    /* margin-right: 260px; */
    flex-wrap: wrap;
  }


  .Times {
    display: flex;
    /* margin-right: 260px; */
    flex-wrap: wrap;
  }
}

