

@media screen and (max-width:950px){

.Navbar{
    margin: 0px 40px;
    /* display: flex; */
}
.Mobile_icon{
  position: absolute;
}
    .Mobile_icon img{
        display: block;

        
    }
    .Navmenu_mobile{
        display: block;
    }
 
.Navmenu ul{
display: none;


}
}





@media screen and (max-width:820px){
 
    .First_page{
        margin: 10px 0px;
        

    }
    .First_page_left{
        display: none;
    }
    .First_page_Right{
      margin: 40px 10px;
    }
    
    .First_page_Right img{
     
        width: 100%;
    height: 100%;
    }





    .Third_page{
        margin: 20px 10px;

    }
.Third_page_2{
    display: flex;
    gap: 27px;
    align-items: center;
}

 .Third_page_row{
    margin: 40px 10px;

 }

 .Third_page_row4{
    text-align: center;
 }






 .Fourth_page{
    margin: 40px 10px;

 }

            /* fourth end----------------- */


            .Fifth_page{
                margin: 40px 10px; 
            }



/* -------------sixth start--------------- */
 .Sixth_page{
    margin: 0 10px; 
    /* display: flex; */
    justify-content: start;
    gap: 40px;
 }

 .Sixth_page_1{
    margin-left: 10px;
    }
    .Speaker{
        margin-left:auto;
        margin-right: auto;
    
    }
    .Speaker img{
        /* width:568px;
        height: 330px; */
        width: 100%;
        height: 100%;
     
    }



    /* ---------------sixthpage end------------- */
     .Sevnth_page{
        margin: 50px 10px;
     }



/* -------------eight-page--------- */

.Eight_page_2{
    margin: 0 10px;
}

.Eight_page_left img {
    width: 570px;
    height: 600px;
    width: 100%;
    height: 100%;
  }
  



 /* --------------fother------------------------ */
 .Fother{
    margin: 0px 10px;
    display: flex;
    justify-content: flex-start;
 }


}





n





@media screen and (max-width:430px){
     .Third_page{
        margin: 0px 10px ;
     }

     .Third_page_2 {
        display: flex;
        gap: 0px;
        align-items: center;
      }

      .Third_page_h1 h1 {
        font-size: 26px;
      }

      .time h4 {
        font-size: 13px;
        font-weight: 600;
        color: #000;
      }

      .time h1 {
        font-size: 29px;
        line-height: 30px;
        font-weight: 700;
      }

      .Third_page_row4 button {
        padding: 15px 40px;
        background-color: #e04242;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        border: none;
        outline: none;
      }


      .fourth_page_2 h1 {
        font-size: 26px;
    }


    .Fourth_pagee_2_img{
        display: flex;
        gap: 7px;
        justify-content: center;
      flex-wrap: wrap;
      align-content: center;
    
    }
    .Fourth_pagee_2_img button {
        padding: 12px 43px;}

        .fifth_page_button button {
            padding: 12px 43px}



    .Sevnth_page_2 h1 {
        font-size: 26px;
        font-weight: 600;
      }
      .fifth_page_button button {
        padding: 12px 43px;
    }



    .Sevnth_page_2_imgs button {
        padding: 12px 43px;}
    .Eight_page_left img {
    
        width: 100%;
        height: 100%;
      }
      .Eight_page_right_top img {
        width: 570px;
        height: 284px;
        width: 70%;
        height: 100%;
        margin-left: 86px;
      }





      .Eight_page_right_top img {
        width: 570px;
        height: 284px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
      }



      .Eight_page_right_bottom{

      }
      .Eight_page_right_bottom img{
        width: 100%;
  height: 100%;
      }
}