*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif  ;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 30px;
    /* margin-top: 40px; */
}

.Navbar_logo{
    color:black;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}
.Navmenu{

}
.Navmenu ul{
display: flex;
justify-content: space-around;
margin-top: 40px;

}
.Navmenu li{
margin: 0 14px;
list-style: none;
}
.Navmenu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
color: #000;

}
.Navmenu li:first-child{
    
    text-decoration: underline;
   
}
.Navbar_Search{
display: flex;
margin-right: 40px;
margin-top: 30px;
}
.Navbar_Search_1{
display: flex;
margin-right:20px;
/* border: 1px solid black; */
border-radius: 4px;
background-color:#F5F5F5;

}
.Navbar_Search_1 input{
    width: 243px;
    height: 38px;
    background-color:#F5F5F5;
    outline: none;
    border: none;
    

}
.Navbar_Search_1 input::placeholder{
    margin-left:40px;
    color:#000;
    opacity: 50%;

}

.Navbar_Search_1 img{
    width: 35px;
    height: 38px;
    margin-right: 15px;
}

.Navbar_Search_2{
display: flex;
}

.Navbar_Search_2{
display: flex;
/* justify-content: space-between; */
gap: 15px;
/* margin-top: 8px; */
}
.Navbar_Search_2 img:first-child{
    width: 28px;
    height: 26px;
    margin-top: 8px;
}
.Navbar_Search_2 img:nth-child(2){
    width: 36px;
    height: 36px;
    margin-top: 4px;
}


/*---------------------------- Navbar end --------------------------------------------------------*/






.First_page{
    display: flex;
    justify-content: space-between;
 
    margin:40px
}
.First_page_left{
   
}
.First_page_left h3{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #000;

line-height: 39px;

}
.first_page_contained{
    display: flex;
    /* width: 217px;
    height: 24px; */

    /* border: 1px solid black; */
}
.first_page_contained img{
    width: 7.8px;
    height:12.7px ;
    margin-top: 15px;
    margin-left: 75px;
}

.first_page_contained_2 img{
    width: 7.8px;
    height:12.7px ;
    margin-top: 15px;
    margin-left: 97px;
}

/* -------------------------------------------------first pagee end----------------------------- */

.Third_page{
    margin: 40px;
    /* display: flex; */
    /* justify-content: space-between; */
    }
    .Third_page_1{
        display: flex;
        /* justify-content: space-between; */
    }
    .Third_page_1 img{
        width:20px ;
        height: 40px;
    }
    .Third_page_1 h4{
        font-size: 17px;
        color:  #DB4444;
        font-weight: 600;
        padding: 4px 10px;
    
    
    }
    .Third_page_2{
        display: flex;
        justify-content: space-between;
    }
    
    .Third_page_h1{
    
    }
    .Third_page_h1 h1{
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        color: #000;
        letter-spacing: 2px;
        padding-top: 15px;
    }
    
    .Times{
        display: flex;
        margin-right: 260px;
        
    }
    .time{
        margin-right: 10px;
    }
    .time h4{
        font-size: 14px;
        font-weight: 600;
        color:#000;
    }
    .time h1{
        font-size: 32px;
        line-height: 30px;
        font-weight: 700;
    }
    .Times img{
        width: 4px;
        height: 16px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 24px;
    }
    .Third_page_3{
        display: flex;
        /* position:relative; */
        gap: 10px;
        margin-top: 10px;
    }
    /* .Third_page_3 img:first-child{
        width: 21px;
        height: 21px;
        border: 1px solid black;
        
    }
    .Third_page_3 img:nth-child(2){
        width: 24px;
        height: 24px;
        
    } */
    .Third_page_3_img1{
        height: 46px;
        width: 46px;
    
    }
    
    .Third_page_3_img3{
        height: 46px;
        width: 46px;
    
    
    }
    
    .Third_page_row3{
        display: flex;
        justify-content: space-between;
        margin: 40px 0px;
    }
    .Third_page_row3_img_text{
    
    }
    .Third_page_row3_img_text img:first-child{
        width: 270px;
        height: 250px;
    }
    .Third_page_row3_img_text h1{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #000;
        padding: 13px 0;
    }
    .Third_page_row3_img_text h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color:#DB4444;
        padding-bottom: 10px;
    }
    .Third_page_row3_img_text h2 span{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color:#000;
        padding-left: 10px;
    }
    
    .Third_page_row4{
        text-align: center;
        padding:15px 0px 
    
    }
    .Third_page_row4 button{
        padding: 15px 40px;
        background-color: 
        #e04242;
font-size: 16px;
color: #fff;
font-weight: 500;
border-radius: 4px;
    }








/* -----------------------------------Second page end---------------------- */


.Fourth_page{
    margin: 10px 40px;
}

.Fourth_page_all{
    /* display: flex; */
}


.Fourth_page_1{
    display: flex;
    gap: 10px;
}
.Fourth_page_1 img{
    width:20px ;
    height: 40px;
}
.Fourth_page_1 h4{
    font-size: 17px;
    color:  #DB4444;
    font-weight: 600;
    padding: 4px 10px;
}

.fourth_page_2{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.fourth_page_2 h1{
    font-size: 36px;
    color: #000;
    font-weight: 600;
    word-spacing: 4px;
    font-family: ;
}


.Fourth_pagee_2_img{
    display: flex;
    gap: 7px;

}
.Fourth_pagee_2_img img{
width: 46px;
height: 46px;

}


.Fourth_page_3{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.Fourth_page_3 img{
    width: 170px;
    height: 145px;
}

/* ---------------fourth page end----------- */

.Fifth_page{
    margin: 40px;
    
    
}

.fifth_page_button {

}
.fifth_page_button button{
    padding: 16px 48px;
    border-radius:4px;
    border: none;
    outline: none;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
    background-color: #DB4444;
}

.fifth_page_3{
    display: flex;
    gap: 62px;
    flex-wrap: wrap;
    justify-content: center;
}
.fifth_page_3 h3{
font-size: 16px;
font-weight: 500;
color: #000;
padding: 5px 0px;
line-height: 24px;
}
.fifth_page_3_Img_text{
 /* display: flex;    */
}
.fifth_page_3_Img{
    width: 270px;
    height: 250px;
}
.fifth_page_3_prize{

}
.fifth_page_3_prize h4 {
font-size: 16px;
font-weight: 600;
color: 
#DB4444;


}

.fifth_page_3_prize h4 span{
padding: 0px 6px;
color: 
#666565;
text-decoration:line-through;
}


.fifth_page_3_stars{
    padding: 6px 0px;

}

.fifth_page_3_stars img{
    width: 140px;
    height: 20px;
    /* padding: 10px 0px; */
}





/* -----------Sixth_page-------------- */

.Sixth_page{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    margin: 0px 40px;
    padding:60px 0 ;
}
.Sixth_page_1{
margin-left: 40px;
}
.Sixth_page_1 h3{
color: #00FF66;
font-size: 16px;
font-weight: 600;
}
.Sixth_page_1 h1{
    color: #FAFAFA;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    padding-top: 20px;
}
.Sixth_page_2{
    display: flex;
    padding-top: 25px;
    
}
.Sixth_page_2 img{
    margin-right: 15px;
    width: 62px;
    height: 62px;
}

.Sixth_page button{
    padding: 16px 48px;
    background-color: #00FF66;

    color:#FAFAFA;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.Speaker{
padding-right: 50px;
}
.Speaker img{
    width:568px;
    height: 330px;
}


/* ------------Sixth_page end------------- */
.Sevnth_page{
margin: 50px 40px;
}

.Sevnth_page_1{
    display: flex;

}
.Sevnth_page_1 img{

}
.Sevnth_page_1 h3{
    font-size: 16px;
    color: #DB4444;
    font-weight: 600;
    padding: 10px;

}

.Sevnth_page_2{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.Sevnth_page_2 {

}
.Sevnth_page_2 h1{
    font-size: 36px;
    font-weight: 600;

}
.Sevnth_page_2_imgs{
display: flex;
gap: 5px;
}
.Sevnth_page_2_imgs img{
width: 46px;
height: 46px;
}



.Sevnth_page_3{
    display: flex;
    /* justify-content:space-between ; */
    margin: 0px 40px;
    margin-bottom: 40px;
    /* gap: 50px; */
    flex-wrap: wrap;
    gap: 60px;
justify-content: center;
}

.Sevnth_page_3_img h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 0px;
}
.Sevnth_page_3_text{
display: flex;
gap: 8px;
}
.Sevnth_page_3_text h4{
    color: #DB4444;
}
.Sevnth_page_3_text img{
    width: 140px;
    height: 20px;
    /* padding-bottom: 5px; */
}

.Sevnth_page_button{
text-align: center;
padding: 20px 0px;
}
.Sevnth_page_button button{
    padding:16px 48px;
    color:#FAFAFA;
    background-color:  #DB4444;
    outline: none;
border-radius: 4px;
border: none;
gap: 10px;
font-size: 16px;
font-weight: 500;
}
.Eight_page_1{
    margin-bottom: 40px;
}

.Eight_page_2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    gap: 50px;
}
.Eight_page_left img{
width: 570px;
height: 600px;
}

.Eight_page_right_top img{
width: 570px;
height: 284px;
}
.Eight_page_right_bottom{
    display: flex;
    gap: 30px;
    padding-top: 26px;
}
























/* ----------------------fother start-------------- */

.Fother{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 100px 40px;
    color: #fff;
    margin: 0px 40px;
}

.Fother h2{
    font-size: 24px;
    font-weight: 700;
}
.Fother_h3  {
    font-size: 20px;
    font-weight: 500;
}

.Fother_all{
    line-height: 40px;
}
.Fother_2 h3{
    /* line-height: normal; */
}
.Fother_1_input{
/* background-color: white; */
display: flex;
width: 200px;
height: 44px;
border:1.5px solid #FAFAFA;

margin-top: 10px;
}
.Fother_1_input input{
    background-color: black;
    color: white;
    outline:none;
    border: none;



}
.Fother_1_input input::placeholder{
/* margin-left: 90px; */
}
.Fother_1_input img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.Fother_5 p{
font-size: 12px;
font-weight: 500;
color:#FAFAFA;
/* font-family: Poppins; */
}
.Qr_stores{
    display: flex;
    
}
.Qr img{
    margin-top: 5px;
    width: 76px;
    height: 76px;

}
.stores{
    margin-left: 10px;
    display: block;

}


.stores img:first-child{
    /* margin-bottom: 8px; */
}
.Social_Media{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-right: 5px;
}
.Social_Media img{
    width: 24px;
    height: 24px;
}



